# pip install -r ...  -i https://pypi.tuna.tsinghua.edu.cn/simple
pytest
fastapi
uvicorn
PyJWT
passlib
xlwt
pymysql
DBUtils
clickhouse
clickhouse_driver
pdfminer.six
beautifulsoup4
python-multipart
pathlib
jieba
nltk
lxml
scrapy
scikit-learn
matplotlib
networkx
seaborn
threadpool
xlrd
demjson